<div id="main">
  <div class="block">
		<h3>FAQ: Frequently Asked Questions</h3>
		<div class="content">
			<ul class="list">	
				<li><p><strong>How can L5R card manager help me play L5R game?</strong></p>
					L5R card manager will help you maintain record of cards ...</li>
				<li><p><strong>How can I register for an account with L5R card manager?</strong></p>
					Click on the register page and submit the required information. You will be notified about your login information</li>
				<li><p><strong>How can I add cards to the L5R Cards database?</strong></p>
					There is &quot;add card link&quot; on the Card page. This will open cards page, which one can use to create a new card.</li>
				<li><p><strong>Will my decks be visible to another account holder?</strong></p>
					No, your formed decks can only be seen by you and no other account holder.</li>
				<li><p><strong>What information will be visible to another account holder?</strong></p>
					Another account holder can see your username, as username will be attached to the card created by you in the database.</li>
				<li><p><strong>How can I update and delete cards from a deck?</strong></p>
					You can do that simply by ...</li>
				<li><p><strong>How can I update and delete cards from the L5R card database?</strong></p>
					You cannot delete or update cards from the L5R database. This can only be done by account holder with adminstrative priveleges.</li>
			</ul>
		</div>
  </div>
</div>
