<div id="box">
  <div class="block" id="block-login">
    <h2>Login</h2>        
    <div class="content login">
			<% form_tag session_path, :class => "form login" do -%>
        <div class="group">
          <div class="left">
            <label for="login" class="label right">Login</label>
          </div>
          <div class="right">
            <%= text_field_tag 'login', nil, :class => "text_field" %>
          </div>              
          <div class="clear"></div>
        </div>
        <div class="group">
          <div class="left">
            <label for="password" class="label right">Password</label>
          </div>
          <div class="right">
            <%= password_field_tag 'password', nil, :class => "text_field" %>
          </div>              
          <div class="clear"></div>
        </div>
        <div class="group navform">
          <div class="right">
            <%= submit_tag 'Log in', :class => "button" %>
          </div>
          <div class="clear"></div>
        </div>            
      <% end -%>
    </div>
  </div>
</div>

