body {
	background-color:white;
	color:black;
	font-family: "Helvetica Neue","Lucida Grande","Helvetica Neue",Arial,sans-serif;
	font-size:95%;
	margin:0;
	padding:0;
}

img {
	border:medium none;
	vertical-align:middle;
}

input[type="image"] {
	border:medium none;
	vertical-align:middle;
}

.hidden {
	display:none;
}

.clear {
	clear:both;
	font-size:1px;
}

.warning {
	color:red;
}

table {
	border-collapse:collapse;
}

#header {
	background-color:#CC0000;
	color:white;
	padding-bottom:20px;
	padding-top:1px;
	width:100%;
}

#header a, #header a:visited {
	background-color:inherit;
	color:white;
	text-decoration:none;
}

#header a:hover, #header a:visited:hover {
	text-decoration:underline;
}

#site-title {
	font-size:150%;
	font-weight:bold;
	margin-left:20px;
	margin-top:19px;
}

#site-subtitle {
	color:#FFCC66;
	font-size:90%;
	font-style:italic;
	margin-left:20px;
}

#main {
	float:left;
	width:100%;
}

#content {
	font-size:95%;
	padding:20px;
}

#footer {
	background-color:#F7F7F7;
	border-top:1px solid #EAEAEA;
	color:#999999;
	float:left;
	font-size:80%;
	padding-bottom:20px;
	padding-top:20px;
	width:100%;
}

#footer p {
	padding-left:20px;
	padding-right:20px;
}

#site-links {
	color:#F5CBCB;
	font-size:90%;
	margin:0;
	position:absolute;
	right:0;
	top:20px;
}

#site-links a, #site-links a:visited {
	background-color:inherit;
	color:white;
}

#site-links a:hover, #site-links a:visited:hover {
	text-decoration:none;
}

#site-links strong a, #site-links strong a:visited {
	text-decoration:none;
}

#nav {
	height: 11px;
}

#nav ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#nav li {
	display:block;
	float:left;
	position:relative;
	margin-right: 8px;
}

#nav li a {
	border:medium none;
	color:#EAE3C5;
	display:block;
	float:left;
	font-weight:bold;
	padding:6px 16px 5px;
	position:relative;
}

#nav li.selected a {
	background-color:#FFFFFF;
	color: #222222;
}

.errorExplanation {
	background-color:#ffcccc;
	border:1px solid red;
	vertical-align:top;
	padding: 10px;
}
 
.errorExplanation h2 {
	color: maroon;
}
 
.errorExplanation ul li {
	list-style: square;
}
 
.fieldWithErrors input[type="text"],
.fieldWithErrors input[type="password"],
.fieldWithErrors textarea {
	border-color: red;
}
 
.flashNotice {
	border: 1px solid green;
	background-color: #ccffcc;
}

#notice, #error {
	background-color:inherit;
	color:white;
	margin-left:20px;
	margin-right:20px;
	margin-top:25px;
	padding:0 0.75em;
}

#notice {
	background-color:#00CC33;
	border:3px solid #7FE699;
}

#error {
	background-color:#CC0000;
	border:3px solid #E67F00;
}

#box {
	background-color: #F7F7F7;
	border: 1px solid #EAEAEA;
	padding: 10px;
}

#cards {
	margin-left: 60px;
	margin-top: 18px;
}

#cards ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 30px;
	padding:0;
	width:100%;
}
#cards li.card {
	border-bottom:1px solid #EEEEEE;
	line-height:160%;
	padding:10px !important;
	position:relative;
	height: 45px;
	font-size: 85%;
}

h1 {
	margin-top:0;
}

h3 {
	font-size: 120%;
	padding: 10px 0 0;
	color: #222222;
	margin: 0px;
}

h4 {
	font-size: 100%;
	padding: 10px 0 0;
	color: #222222;
	margin: 0px;
}

#card img {
	float: left;
	padding: 10px;
}

.card img {
	padding: 4px;
	float: left;
}

.card_details {
	margin: 10px;
}

.info {
	font-size: 92%;
	color: #888888;
	display: block;
	position: static;
}

.desc {
	font-size: 92%;
	display: block;
	position: static;
}