<div id="terms" class="term_form">
<h3 align="center">TERMS AND CONDITIONS</h3>
<p>
PLEASE READ THE FOLLOWING SOFTWARE USER-AGREEMENT:<br/>
BY USING OUR SOFTWARE (L5R VIRTUAL DECK CREATOR), <br/>
YOU ACCEPT THE TERMS AND CONDITIONS STATED BELOW <br/>
IN A LEGALLY BINDING MANNER.<br/><br/>
This User Agreement constitutes the entire agreement 
between <br/>
L5R VIRTUAL DECK CREATOR DEVELOPMENT TEAM and YOU,the user,<br/>
 and supersedes any previous agreements on this subject.<br/><br/>
<b>No Unlawful or Commercial Use:</b><br/>
As a condition of your use of L5R VIRTUAL DECK CREATOR, <br/>
YOU warrant and represent that YOU will not use the SOFTWARE <br/>
 for any commercial purposes. <br/><br/>
Only non-commercial communications for CREATING AND MAINTAINING<br/>
L5R cards and decks shall be allowed.<br/><br/>
<b>Warranty: </b><br/>
Unless stated otherwise, all software provided on this 
WEBSITE is free of charge.<br/>
In addition, all software is 
provided without warranty of any kind, express or implied.<br/><br/>
<b>Liability:</b><br/>
L5R VIRTUAL DECK CREATOR DEVELOPEMENT TEAM assumes no <br/>
responsibility or liability arising from the content of 
the USER-ACOUNTS and CARDS <br/> 
CREATED OR UPDATED BY THE CONTRIBUTORS, nor from any error, omission,<br/>
 obscenity, pornography, profanity,inaccuracy contained in any <br/>
information within the WEBSITE.<br/><br/>
L5R VIRTUAL DECK CREATOR DEVELOPEMENT TEAM reserves the right to alter<br/>
 or delete material from the WEBSITE at any time.<br/><br/><br/>
IN NO EVENT SHALL THE OWNER/ADMINISTRATOR OR CONTRIBUTORS BE LIABLE FOR<br/>
 ANY DIRECT OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, DELETION<br/>
  OF CARDS, LOSS OF DECKS, PROCUREMENT OF SERVICES; LOSS OF USE, DATA)<br/><br/>
<b>If you do not agree with above terms and conditions, then you are 
advised to not use the software.<b>
</p></div>