<p>
  <b>Deck:</b>
  <%=h @deck_card.deck_id %>
</p>

<p>
  <b>Card:</b>
  <%=h @deck_card.card_id %>
</p>


<%= link_to 'Edit', edit_deck_card_path(@deck_card) %> |
<%= link_to 'Back', deck_cards_path %>
