<p>Welcome to L5R Deck Manager</p>
<% if logged_in? -%>
	<p>You are currently logged in as <%= link_to h(current_user.login), current_user %></p>
	<%= link_to 'logout', logout_url %>
<% else -%>
	<p>Please <%= link_to 'login', login_url %> or 
	<%= link_to 'register', signup_url %></p>
<% end -%>